* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ad9c9c;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
margin-top: 15%;}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Prevent resizing */
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #21a1f1;
}

.submit-button:disabled {
  background-color: #ccc;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
  color: #4caf50; /* Green for success */
}

.error {
  color: red;
  margin-top: 20px;
}